$primary-color: #2f80ed;

.inputdate{

    font-size: 1rem;
    position: relative;
    width: 100%;

    &__input{
        height: 3em;
        border-radius: .2em;
        outline: none;
        border: 1px solid #bababa;
        padding: 1em .75em;
        padding-right: 2em;
        width: 100%;
    }

    &__input:focus, &__input:not(:placeholder-shown){
        padding-top: 1.625rem;
        padding-bottom: .625rem;
    }

    &__label{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        padding-top: 1.3em;
        padding-left: 1em;
        pointer-events: none;
        border: 0px solid transparent;
        transform-origin: 0 0;
        transition: opacity .1s ease-in-out,transform .1s ease-in-out;
    }

    &__input:focus~label, &__input:not(:placeholder-shown)~label{
        opacity: .65;
        transform: scale(.85) translateY(-.5rem) translateX(.15rem);
    }

    &__icon{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: $primary-color;
    }

}