$primary-color: #2f80ed;

.frmhealth{
  
    color: black;
    margin-top: 6em;
    padding: 0 2em;

    &__subtitle2{
        font-weight: 300;
    }

    &__step{
        color: $primary-color;
    }

    &__totalsteps{
        color: #bbb;
    }

    &__breadcrumb{
        margin-left: -2.4rem;
        margin-bottom: 3em;
    }

    &__title{
        font-size: 2rem;
        font-weight: 300;
        margin: 0 0 .5em 0;
    }

    &__highlighted{
        color: $primary-color;
        font-weight: 400;
    }

    &__subtitle{
        font-weight: 300;
        margin: 0;
        margin-bottom: 1.5em;
    }

    &__row{
        margin-bottom: 1.5em;
    }

    &__right{
        display: flex;
        justify-content: right;
    }

    &__cards{
        display: grid;
        grid-auto-flow: column;
        grid-gap: 5px;
        justify-content: space-between;
    }

    &__plantitle{
        font-size: 1rem;
    }

    &__planamount{
        font-size: 1.6rem;
    }

    &__planperiod{
        font-size: .8rem;
    }
}